/* The content within the collaspable area */
.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid lightGrey;
  border-top: 0;
  background-color: #d3e3e5;
  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
  }
}

/* The link which when clicked opens the collapsable area */
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  border-right: 1px solid white;
  padding: 10px;
  padding-right: 0px;
}

.CustomTriggerCSS {
  color: #af5477;
  background-color: #d3e3e5;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: lightcoral;
  color: white;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}

#color {
  background-color: #d3e3e5;
  align-items: center;
}

#color .row {
  height: 100%;
  border: 1px solid white;
}

.padding {
  padding-right: 0px;
}

.btn-list {
  margin-top: 5px;
}

.btn-admin {
  background-color: white;
  color: #ec576b;
  font-size: 10px;
  font-weight: bold;
  padding: 8px 12px;
  border: 1px solid#ec576b;
  border-radius: 5px;
}

.redborder {
  border-right: 1px solid white;
  height: 100%;
}

.internal {
  margin-bottom: 3px;
}
