@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis-Regular.woff2") format("woff2"),
    url("./fonts/Metropolis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "open sans";
}

h1 {
  font-family: "Metropolis";
  color: #2d2d2d;
  font-size: 2em;
  padding-top: 0.7em;
}

#h1-login {
  text-align: center;
}

h2 {
  font-family: "open sans";
  color: #78757f;
  font-size: 1.5em;
}

h3 {
  font-family: "Open Sans";
  color: #78757f;
  font-size: 1.3em;
}

h3 {
  font-family: "Open Sans";
  color: #78757f;
  font-size: 1em;
}

p {
  font-family: "Open Sans";
  font-size: 1em;
}

a {
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  color: #e23744 !important;
  font-size: 0.9em;
}

a .view-quizzes-page-links-side-by-side {
  margin-right: 1em !important;
}

a:hover {
  color: #ff1b62;
  text-decoration: none !important;
}

hr {
  border-top: 1px solid#e23744 !important;
}

.btn {
  background: #e23744 !important;
  color: #f4f4f2 !important;
  border-radius: 5px;
  height: 2.5em;
  width: 10em;
  border: none;
  margin-top: 1em;
}

.btn-login {
  background: #e23744;
  color: #f4f4f2;
  border-radius: 5px;
  height: 2.5em;
  width: 100%;
  border: none;
  margin-top: 2em;
  margin-bottom: 1em;
}

.btn-login:hover {
  background: #ff1b62 !important;
}

.btn:hover {
  background: #ff1b62 !important;
}

input {
  border: 1px solid #cecece;
  border-radius: 3px;
  background: #f4f4f2;
  height: 2.5em;
  width: 100%;
  margin-top: 0.8em !important;
}

.formparentcontainer {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
}

.formchildcontainer {
  align-items: center !important;
  text-align: center;
}

.forgotpassword-signup {
  text-align: right !important;
  padding-top: 0.8em;
}

#forgotpassword {
  margin-bottom: 1.5em !important;
  font-size: 1.1em;
  display: block;
  font-weight: lighter;
}

#signup {
  font-size: 1.1em;
  font-weight: bold;
}

/* Admin Table Styling */

.tftable {
  font-size: 12px;
  color: #333333;
  width: 100%;
  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse;
  margin-top: 2em;
}
.tftable th {
  font-size: 12px;
  background-color: #acc8cc;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
  text-align: left;
}
.tftable tr {
  background-color: #d4e3e5;
}
.tftable td {
  font-size: 12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
}
.tftable tr:hover {
  background-color: #ffffff;
}

/* Sign-Up Form */

.signup-form {
  margin-top: 3em;
}


/* Documentation Editor */

.documentation-editor {
  height: 20em;

/*Btn disabled*/
button:disabled {
  background-color: #CECECE!important;
  font-weight: bold;
}

/*Btn disabled*/

