.learner-navbar {
  background: #f4f4f2;
}

.learner-navlinks {
  font-size: 12px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-top: 2px;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #c4c4c4 !important;
}

a .grey-link {
  color: #2d2d2d !important;
}

a .grey-link:hover {
  color: #c4c4c4 !important;
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
}
.navbar-light .navbar-toggler:focus {
  outline: none;
}

.ui.button {
  background-color: #2d2d2d;
  color: #f4f4f2;
}
